.form-cont {
  height: 550px;
  width: 500px;
  border: 1px solid gray;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-grup {
  margin-top: 15px;
}
button {
  margin-top: 15px;
  padding: 10px 30px;
  background-color: skyblue;
  border: none;
  border-radius: 10px;
  margin-left: 70px;
  cursor: pointer;
}
body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
input {
  padding-block: 10px;
  padding-right: 90px;
  border-radius: 5px;
  border: 1p solid lightgray;
}

span{
  display: block;
  color: red;
  font-size: 12px;
}