* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black;
  color: #fff; */
}
.app {
  margin-top: 50px;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  font-weight: 100;
}
